.header {
  display: flex;
  /* set display to flex */
  flex-wrap: nowrap;
  border-radius: 20px;
  height: 30px;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-shadow: 0 5px 5px rgba(74, 27, 206, 0.1);
  background: #333;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
  font-family: "Damion", cursive;
  border: solid;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
  position: fixed;
  width: 93.5%;
  margin-top: -90px;
}

h1 {
  text-align: center;
}

.content {
  text-align: center;
  transition: box-shadow 1000ms;
}

.content:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
}

.content:not(:hover) {
  box-shadow: none;
}

.para {
  background-color: #222;
  height: 70px;
  border: #333;
  border-style: solid;
  border-radius: 20px;
  padding-left: 15px;
  padding-top: 10px;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
}

.backbody {
  background-size: auto;
  background-color: #333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%231e1e1e' fill-opacity='0.59'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.59'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");

  position: relative;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;

  scroll-behavior: smooth;
  border-radius: 20px;
  margin-top: 100px;
  /* add margin-top to push backbody below the header */
  height: calc(100vh - 180px);
  /* adjust the height to fit between header and footer */
  overflow-y: auto;
  /* add overflow-y to make the content scrollable */
  font-family: "Damion", cursive;
  border: rgb(161, 161, 161);
  border-style: solid;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
}
.backbodyapi
{
  background-size: auto;
  background-color: #333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%231e1e1e' fill-opacity='0.59'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.59'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");

  position: absolute;

  scroll-behavior: smooth;
  border-radius: 20px;
  margin-top: 100px;
  /* add margin-top to push backbody below the header */
  height: calc(100vh - 180px);
  /* adjust the height to fit between header and footer */
  overflow-y: auto;
  /* add overflow-y to make the content scrollable */
  font-family: "Damion", cursive;
  border: rgb(161, 161, 161);
  border-style: solid;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
}
.backbody::-webkit-scrollbar {
  display: none;
}

/*Animation trans*/
.slide-in {
  animation-name: slide-in;
}

.slide-out {
  animation-name: slide-out;
}

@keyframes slide-in {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes slide-out {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.logo {
  height: 50px;
}

.footer {
  display: flex;
  /* set display to flex */
  flex-wrap: nowrap;
  height: 50px;
  /* set the height of the footer */
  position: fixed;
  bottom: 0;
  width: 97%;
  border-radius: 10px;
  background: #333;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
  font-family: "Damion", cursive;
  border: solid;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
  display: flex;
  /* add this to make the child elements align horizontally */
  align-items: center;
  /* add this to center the child elements vertically */
  justify-content: center;
  /* add this to center the child elements horizontally */
}