.navbar {
  display: flex;
  /* set display to flex */
  flex-wrap: nowrap;
  border-radius: 20px;
  position: fixed;
  height: 30px;
  align-items: center;
  border-radius: 1px;
  background: #333;

  font-family: 'Damion', cursive;
  border: none;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
  padding: 20px;
  width: 90%;
  border-radius: 20px;
}

.searchbar {


  width: 400px;
  height: 30px;
  border-radius: 10px;

}

.searchbarbut {
  width: auto;
  height: 30px;
  border-radius: 10px;
  background: #333;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  font-family: 'Damion', cursive;
  border: solid;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

.searchbarbut:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
  font-family: 'Damion', cursive;
}

.navbutton {
  margin: 12px;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  background: #333;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
  font-family: "Damion", cursive;
  border: none;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

.navbutton:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
  font-family: "Damion", cursive;
}

.popup {
  position: fixed;
  top: 90px;
  right: 32%;
  width: 200px;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
    z-index: 9999;
}

.popup-option {
  font-size: 14px;
  color: rgb(161, 161, 161);
  padding: 5px;
  cursor: pointer;
  transition: 500ms;
  
}

.popup-option:hover {
  color: #d6d6d6;
  transition: 500ms;
}


.javalist {
  position: absolute;
  top: 100%;
  right: 41%;
  margin: 12px;


  border-radius: 10px;
  background: #333;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  font-family: 'Damion', cursive;
  border: none;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

.javalist li {
  padding: 5px;
}

.javalist li:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
  font-family: 'Damion', cursive;
}

.apilist {
  position: absolute;
  top: 100%;
  right: 0%;
  margin: 12px;


  border-radius: 10px;
  background: #333;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  font-family: 'Damion', cursive;
  border: none;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

.apilist li {
  padding: 5px;
}

.apilist li:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
  font-family: 'Damion', cursive;
}