.tooltip {
  position: fixed;
  transform: translateX(-50%);
  background-color: rgb(46, 46, 46);
  right: 50%;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 9999;
  border-color: rgb(128, 128, 128);
  border-style: groove;
}

.tooltip::before {
  content: "";
  position: relative;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}






