body
{
  display: contents;
  justify-content: space-between;
  margin: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}

